mixin rangeSlider(name, min, max, start, valueText, suffix)
  .range-slider(data-range-slider=name, data-range-slider-min=min, data-range-slider-max=max, class!=attributes.class)
    .range-slider__inputs
      +input-field({
                isReadonly: false,
                isRequired: true,
                isVisibleLabel: false,
                labelText: "start",
                name: "start"+name,
                placeholder: "",
                text: start,
                type: "text",
              }).visually-hidden
    .range-slider__slider(data-range-slider-control=name)
    .range-slider__value(data-range-slider-value, data-suffix=suffix)!=valueText
      span
